/* Navegação com Abas

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 720px;
}

ul li{
	float: left;
	background: url(imagens/aba-direita.png) no-repeat top right;
}

li a{
	display: block;
	padding: 0 2em;
	line-height: 3em;
	text-decoration: none;
	background: url(imagens/aba-esquerda.png) no-repeat top left;
	color: #fff;
}

ul a:hover{
	color: #894a1f;
}

ul #atual {
	background: url(imagens/aba-direita-atual.png) no-repeat top right;
}

ul #atual a{
	background: url(imagens/aba-esquerda-atual.png) no-repeat top left;
}
Fim navegação com abas*/



body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	/*background: #a4a296;*/
	background: #9E9E9E url(imagens/FUNDO.jpg);
}

#conteiner {
	width: 75%;/*720px;*/
	margin: 0 auto;	
	min-width: 720px;
	max-width: 1280px;


}


#marca {
	width: 100%;
	height: 140px;
	/*background: #9E9E9E url(imagens/FUNDO.jpg);*/
	background: black;

	
}

#titulo {
	
	text-align: center;	
	color: #d1d1d1;
}

#login {
	text-align: right;
	padding: 10px;
	color: #d1d1d1;
	
}

#conteudo {
	width: 100%;/*520px;*/
	float: right;
	padding-top: 10px;


	
}

#conteudo-principal {
	width: 60%;/*320px;	*/
	float: left;
	color:black;
	background: #d1d1d1;
	padding-right: 13px;
	padding-left: 20px;
	padding-bottom: 10px;

}

#conteudo-secundario {
	width: 34%;/*180px;*/
	float: right;
	background: #d1d1d1;
	margin-bottom: 20px;
	line-height: 40px;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
	padding-left: 20px;
	padding-right: 20px;
}

#navegacao {
	width: 23%;/*180px;*/
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #d1d1d1;
}

#navegacao ul {
	list-style: none;
}

#navegacao li a {
	text-decoration: none;
}

#rodape {
	clear: both;
	padding: 5px;
}

.data-postagem{
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;

}

/* ---------------------------------------------------------------------*/

#login1 {

	margin: 0 auto;	
	width: 500px;
	height: 500px;
	background: white;
}