
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	/*background: #a4a296;*/
	background: #9E9E9E url(imagens/FUNDO.jpg);
}

ul {
	margin: 0;
	padding: 0;
}

ul a{
	width: 100%;
	height: 40px;
	display: block;
	background: #d1d1d1;
	text-decoration: none;
	line-height: 40px;
	text-indent: 40px;
	color: black;
}


a: active{
	background: black;
}

a:hover {
	background: black;
	color: white;
}

#esquerda{
	float: left;
	width: 200px;
	background: #d1d1d1;
	height: 370px;
	
}

#barra-lateral{	
	width: 200px;

}

#user{
	width: 200px;
	height: 100px;
	background: #d1d1d1;
	padding-left: 55px;

	

}

#tela-principal{
	width: 1000px;
	height: 370px;
	text-align: center;
	float: left;
	color: white;
	background: black;
}

#agendar{
	text-align: left;
	padding-left: 20px;
}

.botao{
	float: right;
	margin-right: 30px;
}

.visual{
	background: black;
	color: white;
}